In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("spaceship-titanic/train.csv")
test = pd.read_csv("spaceship-titanic/test.csv")
test_ids = test['PassengerId']

In [3]:
data

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,Europa,False,A/98/P,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,False
8689,9278_01,Earth,True,G/1499/S,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,False
8690,9279_01,Earth,False,G/1500/S,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,True
8691,9280_01,Europa,False,E/608/S,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,False
8692,9280_02,Europa,False,E/608/S,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,True

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   8693 non-null   object
 1   HomePlanet    8492 non-null   object
 2   CryoSleep     8476 non-null   object
 3   Cabin         8494 non-null   object
 4   Destination   8511 non-null   object
 5   Age           8514 non-null   float64
 6   VIP           8490 non-null   object
 7   RoomService   8512 non-null   float64
 8   FoodCourt     8510 non-null   float64
 9   ShoppingMall  8485 non-null   float64
 10  Spa           8510 non-null   float64
 11  VRDeck        8505 non-null   float64
 12  Name          8493 non-null   object
 13  Transported   8693 non-null   bool
dtypes: bool(1), float64(6), object(7)
memory usage: 891.5+ KB

In [5]:
def clean(df):
    df['Group'] = df.apply(lambda row: row['PassengerId'].split('_')[0], axis=1)

    drops = ['PassengerId', 'Name']

    df.drop(drops, axis=1, inplace=True)

    df['Cabin'] = str(df['Cabin'])

    return df

In [6]:
data = clean(data)
test = clean(test)

In [7]:
from sklearn import preprocessing

labels = ['HomePlanet', 'CryoSleep', 'Cabin', 'Destination', 'VIP']

for col in labels:
    label_encoder = preprocessing.LabelEncoder()
    label_encoder.fit(pd.concat([data[col], test[col]]))
    data[col] = label_encoder.transform(data[col])
    test[col] = label_encoder.transform(test[col])

In [8]:
data

,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported,Group
0,1,0,0,2,39.0,0,0.0,0.0,0.0,0.0,0.0,False,0001
1,0,0,0,2,24.0,0,109.0,9.0,25.0,549.0,44.0,True,0002
2,1,0,0,2,58.0,1,43.0,3576.0,0.0,6715.0,49.0,False,0003
3,1,0,0,2,33.0,0,0.0,1283.0,371.0,3329.0,193.0,False,0003
4,0,0,0,2,16.0,0,303.0,70.0,151.0,565.0,2.0,True,0004
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,1,0,0,0,41.0,1,0.0,6819.0,0.0,1643.0,74.0,False,9276
8689,0,1,0,1,18.0,0,0.0,0.0,0.0,0.0,0.0,False,9278
8690,0,0,0,2,26.0,0,0.0,0.0,1872.0,1.0,0.0,True,9279
8691,1,0,0,0,32.0,0,0.0,1049.0,0.0,353.0,3235.0,False,9280
8692,1,0,0,2,44.0,0,126.0,4688.0,0.0,0.0,12.0,True,9280

In [9]:
test

,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Group
0,0,1,1,2,27.0,0,0.0,0.0,0.0,0.0,0.0,0013
1,0,0,1,2,19.0,0,0.0,9.0,0.0,2823.0,0.0,0018
2,1,1,1,0,31.0,0,0.0,0.0,0.0,0.0,0.0,0019
3,1,0,1,2,38.0,0,0.0,6652.0,0.0,181.0,585.0,0021
4,0,0,1,2,20.0,0,10.0,0.0,635.0,0.0,0.0,0023
...,...,...,...,...,...,...,...,...,...,...,...,...
4272,0,1,1,2,34.0,0,0.0,0.0,0.0,0.0,0.0,9266
4273,0,0,1,2,42.0,0,0.0,847.0,17.0,10.0,144.0,9269
4274,2,1,1,0,NaN,0,0.0,0.0,0.0,0.0,0.0,9271
4275,1,0,1,3,NaN,0,0.0,2680.0,0.0,0.0,523.0,9273
4276,0,1,1,1,43.0,0,0.0,0.0,0.0,0.0,0.0,9277

In [10]:
def split_dataset(dataset, test_ratio=0.20):
    test_indices = np.random.rand(len(dataset)) < test_ratio
    return dataset[~test_indices], dataset[test_indices]


train_ds_pd, test_ds_pd = split_dataset(data)
print("{} examples in training, {} examples for testing.".format(len(train_ds_pd), len(test_ds_pd)))

6952 examples in training, 1741 examples for testing.

In [11]:
import tensorflow_decision_forests as tfdf

train_ds = tfdf.keras.pd_dataframe_to_tf_dataset(train_ds_pd, label='Transported')
test_ds = tfdf.keras.pd_dataframe_to_tf_dataset(test_ds_pd, label='Transported')

2024-04-15 13:42:18.382018: I tensorflow/core/platform/cpu_feature_guard.cc:210] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2024-04-15 13:42:39.833389: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT
2024-04-15 13:43:13.703062: I external/local_xla/xla/stream_executor/cuda/cuda_executor.cc:998] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero. See more at https://github.com/torvalds/linux/blob/v6.0/Documentation/ABI/testing/sysfs-bus-pci#L344-L355
2024-04-15 13:43:13.929622: W tensorflow/core/common_runtime/gpu/gpu_device.cc:2251] Cannot dlopen some GPU libraries. Please make sure the missing libraries mentioned above are installed properly if you would like to use GPU. Follow the guide at https://www.tensorflow.org/install/gpu for how to download and setup the required libraries for your platform.
Skipping registering GPU devices...

In [12]:
# For whole dataset
# import tensorflow_decision_forests as tfdf
# 
# train_ds = tfdf.keras.pd_dataframe_to_tf_dataset(data, label='Transported')

In [13]:
model = tfdf.keras.RandomForestModel(verbose=2)

model.fit(train_ds)

Use 8 thread(s) for training
Use /tmp/tmp79khj61v as temporary training directory
Reading training dataset...
Training tensor examples:
Features: {'HomePlanet': <tf.Tensor 'data:0' shape=(None,) dtype=int64>, 'CryoSleep': <tf.Tensor 'data_1:0' shape=(None,) dtype=int64>, 'Cabin': <tf.Tensor 'data_2:0' shape=(None,) dtype=int64>, 'Destination': <tf.Tensor 'data_3:0' shape=(None,) dtype=int64>, 'Age': <tf.Tensor 'data_4:0' shape=(None,) dtype=float64>, 'VIP': <tf.Tensor 'data_5:0' shape=(None,) dtype=int64>, 'RoomService': <tf.Tensor 'data_6:0' shape=(None,) dtype=float64>, 'FoodCourt': <tf.Tensor 'data_7:0' shape=(None,) dtype=float64>, 'ShoppingMall': <tf.Tensor 'data_8:0' shape=(None,) dtype=float64>, 'Spa': <tf.Tensor 'data_9:0' shape=(None,) dtype=float64>, 'VRDeck': <tf.Tensor 'data_10:0' shape=(None,) dtype=float64>, 'Group': <tf.Tensor 'data_11:0' shape=(None,) dtype=string>}
Label: Tensor("data_12:0", shape=(None,), dtype=bool)
Weights: None
Normalized tensor features:
 {'HomePlanet': SemanticTensor(semantic=<Semantic.NUMERICAL: 1>, tensor=<tf.Tensor 'Cast:0' shape=(None,) dtype=float32>), 'CryoSleep': SemanticTensor(semantic=<Semantic.NUMERICAL: 1>, tensor=<tf.Tensor 'Cast_1:0' shape=(None,) dtype=float32>), 'Cabin': SemanticTensor(semantic=<Semantic.NUMERICAL: 1>, tensor=<tf.Tensor 'Cast_2:0' shape=(None,) dtype=float32>), 'Destination': SemanticTensor(semantic=<Semantic.NUMERICAL: 1>, tensor=<tf.Tensor 'Cast_3:0' shape=(None,) dtype=float32>), 'Age': SemanticTensor(semantic=<Semantic.NUMERICAL: 1>, tensor=<tf.Tensor 'Cast_4:0' shape=(None,) dtype=float32>), 'VIP': SemanticTensor(semantic=<Semantic.NUMERICAL: 1>, tensor=<tf.Tensor 'Cast_5:0' shape=(None,) dtype=float32>), 'RoomService': SemanticTensor(semantic=<Semantic.NUMERICAL: 1>, tensor=<tf.Tensor 'Cast_6:0' shape=(None,) dtype=float32>), 'FoodCourt': SemanticTensor(semantic=<Semantic.NUMERICAL: 1>, tensor=<tf.Tensor 'Cast_7:0' shape=(None,) dtype=float32>), 'ShoppingMall': SemanticTensor(semantic=<Semantic.NUMERICAL: 1>, tensor=<tf.Tensor 'Cast_8:0' shape=(None,) dtype=float32>), 'Spa': SemanticTensor(semantic=<Semantic.NUMERICAL: 1>, tensor=<tf.Tensor 'Cast_9:0' shape=(None,) dtype=float32>), 'VRDeck': SemanticTensor(semantic=<Semantic.NUMERICAL: 1>, tensor=<tf.Tensor 'Cast_10:0' shape=(None,) dtype=float32>), 'Group': SemanticTensor(semantic=<Semantic.CATEGORICAL: 2>, tensor=<tf.Tensor 'data_11:0' shape=(None,) dtype=string>)}
Training dataset read in 0:02:27.285750. Found 6952 examples.
Training model...
Standard output detected as not visible to the user e.g. running in a notebook. Creating a training log redirection. If training gets stuck, try calling tfdf.keras.set_training_logs_redirection(False).

[INFO 24-04-15 13:45:59.5817 IST kernel.cc:771] Start Yggdrasil model training
[INFO 24-04-15 13:45:59.6078 IST kernel.cc:772] Collect training examples
[INFO 24-04-15 13:45:59.6631 IST kernel.cc:785] Dataspec guide:
column_guides {
  column_name_pattern: "^__LABEL$"
  type: CATEGORICAL
  categorial {
    min_vocab_frequency: 0
    max_vocab_count: -1
  }
}
default_column_guide {
  categorial {
    max_vocab_count: 2000
  }
  discretized_numerical {
    maximum_num_bins: 255
  }
}
ignore_columns_without_guides: false
detect_numerical_as_discretized_numerical: false

[INFO 24-04-15 13:46:00.0439 IST kernel.cc:391] Number of batches: 7
[INFO 24-04-15 13:46:00.0439 IST kernel.cc:392] Number of examples: 6952
[INFO 24-04-15 13:46:00.0862 IST data_spec_inference.cc:305] 5128 item(s) have been pruned (i.e. they are considered out of dictionary) for the column Group (83 item(s) left) because min_value_count=5 and max_number_of_unique_values=2000
[INFO 24-04-15 13:46:00.0899 IST kernel.cc:792] Training dataset:
Number of records: 6952
Number of columns: 13

Number of columns by type:
	NUMERICAL: 11 (84.6154%)
	CATEGORICAL: 2 (15.3846%)

Columns:

NUMERICAL: 11 (84.6154%)
	0: "Age" NUMERICAL num-nas:148 (2.12888%) mean:28.7716 min:0 max:79 sd:14.5002
	1: "Cabin" NUMERICAL mean:0 min:0 max:0 sd:0
	2: "CryoSleep" NUMERICAL mean:0.402474 min:0 max:2 sd:0.54142
	3: "Destination" NUMERICAL mean:1.51251 min:0 max:3 sd:0.84082
	4: "FoodCourt" NUMERICAL num-nas:151 (2.17204%) mean:463.467 min:0 max:29813 sd:1643.53
	6: "HomePlanet" NUMERICAL mean:0.718067 min:0 max:3 sd:0.866143
	7: "RoomService" NUMERICAL num-nas:144 (2.07135%) mean:220.776 min:0 max:14327 sd:660.169
	8: "ShoppingMall" NUMERICAL num-nas:165 (2.37342%) mean:169.836 min:0 max:23492 sd:598.491
	9: "Spa" NUMERICAL num-nas:153 (2.20081%) mean:311.063 min:0 max:22408 sd:1149.1
	10: "VIP" NUMERICAL mean:0.0704833 min:0 max:2 sd:0.335702
	11: "VRDeck" NUMERICAL num-nas:152 (2.18642%) mean:312.163 min:0 max:24133 sd:1175.7

CATEGORICAL: 2 (15.3846%)
	5: "Group" CATEGORICAL has-dict vocab-size:84 num-oods:6470 (93.0667%) most-frequent:"<OOD>" 6470 (93.0667%)
	12: "__LABEL" CATEGORICAL integerized vocab-size:3 no-ood-item

Terminology:
	nas: Number of non-available (i.e. missing) values.
	ood: Out of dictionary.
	manually-defined: Attribute whose type is manually defined by the user, i.e., the type was not automatically inferred.
	tokenized: The attribute value is obtained through tokenization.
	has-dict: The attribute is attached to a string dictionary e.g. a categorical attribute stored as a string.
	vocab-size: Number of unique values.

[INFO 24-04-15 13:46:00.0901 IST kernel.cc:808] Configure learner
[INFO 24-04-15 13:46:00.7239 IST kernel.cc:822] Training config:
learner: "RANDOM_FOREST"
features: "^Age$"
features: "^Cabin$"
features: "^CryoSleep$"
features: "^Destination$"
features: "^FoodCourt$"
features: "^Group$"
features: "^HomePlanet$"
features: "^RoomService$"
features: "^ShoppingMall$"
features: "^Spa$"
features: "^VIP$"
features: "^VRDeck$"
label: "^__LABEL$"
task: CLASSIFICATION
random_seed: 123456
metadata {
  framework: "TF Keras"
}
pure_serving_model: false
[yggdrasil_decision_forests.model.random_forest.proto.random_forest_config] {
  num_trees: 300
  decision_tree {
    max_depth: 16
    min_examples: 5
    in_split_min_examples_check: true
    keep_non_leaf_label_distribution: true
    num_candidate_attributes: 0
    missing_value_policy: GLOBAL_IMPUTATION
    allow_na_conditions: false
    categorical_set_greedy_forward {
      sampling: 0.1
      max_num_items: -1
      min_item_frequency: 1
    }
    growing_strategy_local {
    }
    categorical {
      cart {
      }
    }
    axis_aligned_split {
    }
    internal {
      sorting_strategy: PRESORTED
    }
    uplift {
      min_examples_in_treatment: 5
      split_score: KULLBACK_LEIBLER
    }
  }
  winner_take_all_inference: true
  compute_oob_performances: true
  compute_oob_variable_importances: false
  num_oob_variable_importances_permutations: 1
  bootstrap_training_dataset: true
  bootstrap_size_ratio: 1
  adapt_bootstrap_size_ratio_for_maximum_training_duration: false
  sampling_with_replacement: true
}

[INFO 24-04-15 13:46:00.8152 IST kernel.cc:825] Deployment config:
cache_path: "/tmp/tmp79khj61v/working_cache"
num_threads: 8
try_resume_training: true

[INFO 24-04-15 13:46:00.8687 IST kernel.cc:887] Train model
[INFO 24-04-15 13:46:00.8721 IST random_forest.cc:416] Training random forest on 6952 example(s) and 12 feature(s).
[INFO 24-04-15 13:46:01.0280 IST random_forest.cc:802] Training of tree  1/300 (tree index:1) done accuracy:0.749017 logloss:9.04636
[INFO 24-04-15 13:46:01.1151 IST random_forest.cc:802] Training of tree  11/300 (tree index:10) done accuracy:0.770812 logloss:4.2327
[INFO 24-04-15 13:46:01.1596 IST random_forest.cc:802] Training of tree  21/300 (tree index:21) done accuracy:0.781789 logloss:2.75623
[INFO 24-04-15 13:46:01.1903 IST random_forest.cc:802] Training of tree  31/300 (tree index:30) done accuracy:0.786105 logloss:2.20224
[INFO 24-04-15 13:46:01.2321 IST random_forest.cc:802] Training of tree  41/300 (tree index:35) done accuracy:0.785385 logloss:1.89778
[INFO 24-04-15 13:46:01.2734 IST random_forest.cc:802] Training of tree  52/300 (tree index:51) done accuracy:0.785385 logloss:1.76607
[INFO 24-04-15 13:46:01.3127 IST random_forest.cc:802] Training of tree  62/300 (tree index:63) done accuracy:0.789413 logloss:1.5818
[INFO 24-04-15 13:46:01.3544 IST random_forest.cc:802] Training of tree  72/300 (tree index:73) done accuracy:0.788119 logloss:1.46814
[INFO 24-04-15 13:46:01.3947 IST random_forest.cc:802] Training of tree  83/300 (tree index:82) done accuracy:0.790852 logloss:1.38285
[INFO 24-04-15 13:46:01.4350 IST random_forest.cc:802] Training of tree  94/300 (tree index:93) done accuracy:0.789125 logloss:1.32867
[INFO 24-04-15 13:46:01.4772 IST random_forest.cc:802] Training of tree  104/300 (tree index:101) done accuracy:0.787975 logloss:1.24405
[INFO 24-04-15 13:46:01.5276 IST random_forest.cc:802] Training of tree  114/300 (tree index:113) done accuracy:0.788694 logloss:1.20624
[INFO 24-04-15 13:46:01.5621 IST random_forest.cc:802] Training of tree  124/300 (tree index:126) done accuracy:0.787975 logloss:1.18757
[INFO 24-04-15 13:46:01.6021 IST random_forest.cc:802] Training of tree  134/300 (tree index:134) done accuracy:0.789845 logloss:1.17096
[INFO 24-04-15 13:46:01.6390 IST random_forest.cc:802] Training of tree  144/300 (tree index:143) done accuracy:0.789989 logloss:1.13897
[INFO 24-04-15 13:46:01.6909 IST random_forest.cc:802] Training of tree  154/300 (tree index:153) done accuracy:0.789125 logloss:1.10732
[INFO 24-04-15 13:46:01.7215 IST random_forest.cc:802] Training of tree  164/300 (tree index:161) done accuracy:0.790564 logloss:1.08393
[INFO 24-04-15 13:46:01.7624 IST random_forest.cc:802] Training of tree  174/300 (tree index:174) done accuracy:0.790132 logloss:1.06998
[INFO 24-04-15 13:46:01.8017 IST random_forest.cc:802] Training of tree  184/300 (tree index:182) done accuracy:0.791427 logloss:1.0569
[INFO 24-04-15 13:46:01.8450 IST random_forest.cc:802] Training of tree  194/300 (tree index:194) done accuracy:0.791283 logloss:1.02915
[INFO 24-04-15 13:46:01.8957 IST random_forest.cc:802] Training of tree  204/300 (tree index:198) done accuracy:0.790708 logloss:1.0205
[INFO 24-04-15 13:46:01.9325 IST random_forest.cc:802] Training of tree  214/300 (tree index:215) done accuracy:0.791715 logloss:0.993867
[INFO 24-04-15 13:46:01.9767 IST random_forest.cc:802] Training of tree  224/300 (tree index:221) done accuracy:0.792146 logloss:0.984776
[INFO 24-04-15 13:46:02.0200 IST random_forest.cc:802] Training of tree  234/300 (tree index:232) done accuracy:0.792865 logloss:0.97515
[INFO 24-04-15 13:46:02.0559 IST random_forest.cc:802] Training of tree  244/300 (tree index:247) done accuracy:0.792002 logloss:0.969724
[INFO 24-04-15 13:46:02.1001 IST random_forest.cc:802] Training of tree  254/300 (tree index:251) done accuracy:0.791715 logloss:0.941375
[INFO 24-04-15 13:46:02.1371 IST random_forest.cc:802] Training of tree  264/300 (tree index:262) done accuracy:0.791571 logloss:0.927631
[INFO 24-04-15 13:46:02.1824 IST random_forest.cc:802] Training of tree  275/300 (tree index:274) done accuracy:0.791427 logloss:0.918078
[INFO 24-04-15 13:46:02.2269 IST random_forest.cc:802] Training of tree  285/300 (tree index:286) done accuracy:0.790564 logloss:0.905222
[INFO 24-04-15 13:46:02.2759 IST random_forest.cc:802] Training of tree  295/300 (tree index:297) done accuracy:0.79042 logloss:0.904447
[INFO 24-04-15 13:46:02.2917 IST random_forest.cc:802] Training of tree  300/300 (tree index:299) done accuracy:0.79042 logloss:0.904423
[INFO 24-04-15 13:46:02.2922 IST random_forest.cc:882] Final OOB metrics: accuracy:0.79042 logloss:0.904423
[INFO 24-04-15 13:46:02.6618 IST kernel.cc:919] Export model in log directory: /tmp/tmp79khj61v with prefix 279c318843444f8a
[INFO 24-04-15 13:46:04.4272 IST kernel.cc:937] Save model in resources
[INFO 24-04-15 13:46:30.9081 IST abstract_model.cc:881] Model self evaluation:
Number of predictions (without weights): 6952
Number of predictions (with weights): 6952
Task: CLASSIFICATION
Label: __LABEL

Accuracy: 0.79042  CI95[W][0.782229 0.79843]
LogLoss: : 0.904423
ErrorRate: : 0.20958

Default Accuracy: : 0.503021
Default LogLoss: : 0.693129
Default ErrorRate: : 0.496979

Confusion Table:
truth\prediction
      1     2
1  2749   748
2   709  2746
Total: 6952


[INFO 24-04-15 13:46:34.8780 IST kernel.cc:1233] Loading model from path /tmp/tmp79khj61v/model/ with prefix 279c318843444f8a
[INFO 24-04-15 13:46:35.9457 IST decision_forest.cc:734] Model loaded with 300 root(s), 216274 node(s), and 11 input feature(s).
[INFO 24-04-15 13:46:35.9481 IST abstract_model.cc:1344] Engine "RandomForestGeneric" built
[INFO 24-04-15 13:46:35.9482 IST kernel.cc:1061] Use fast generic engine

Model trained in 0:00:48.038881
Compiling model...
Model compiled.

In [14]:
model.compile(metrics=["accuracy"])
evaluation = model.evaluate(test_ds, return_dict=True)
print()

for name, value in evaluation.items():
    print(f"{name}: {value:.4f}")

2/2 [==============================] - 187s 89s/step - loss: 0.0000e+00 - accuracy: 0.7909

loss: 0.0000
accuracy: 0.7909

In [15]:
model.summary()

Model: "random_forest_model"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
=================================================================
Total params: 1 (1.00 Byte)
Trainable params: 0 (0.00 Byte)
Non-trainable params: 1 (1.00 Byte)
_________________________________________________________________
Type: "RANDOM_FOREST"
Task: CLASSIFICATION
Label: "__LABEL"

Input Features (12):
	Age
	Cabin
	CryoSleep
	Destination
	FoodCourt
	Group
	HomePlanet
	RoomService
	ShoppingMall
	Spa
	VIP
	VRDeck

No weights

Variable Importance: INV_MEAN_MIN_DEPTH:
    1.    "CryoSleep"  0.217632 ################
    2.          "Spa"  0.214072 ###############
    3.  "RoomService"  0.202774 ##############
    4.       "VRDeck"  0.160245 #########
    5.    "FoodCourt"  0.157805 ########
    6. "ShoppingMall"  0.128001 #####
    7.          "Age"  0.125791 #####
    8.        "Group"  0.120335 ####
    9.   "HomePlanet"  0.115114 ###
   10.  "Destination"  0.097672 #
   11.          "VIP"  0.082910

Variable Importance: NUM_AS_ROOT:
    1.    "CryoSleep" 134.000000 ################
    2.  "RoomService" 66.000000 #######
    3.          "Spa" 53.000000 #####
    4.       "VRDeck" 33.000000 ###
    5. "ShoppingMall"  9.000000
    6.    "FoodCourt"  5.000000

Variable Importance: NUM_NODES:
    1.          "Age" 32177.000000 ################
    2.    "FoodCourt" 12857.000000 ######
    3.          "Spa" 12432.000000 #####
    4.       "VRDeck" 12200.000000 #####
    5. "ShoppingMall" 11665.000000 #####
    6.  "RoomService" 10453.000000 ####
    7.  "Destination" 5529.000000 ##
    8.        "Group" 4507.000000 #
    9.   "HomePlanet" 3916.000000 #
   10.    "CryoSleep" 1332.000000
   11.          "VIP" 919.000000

Variable Importance: SUM_SCORE:
    1.    "CryoSleep" 149063.452929 ################
    2.          "Spa" 132238.578397 ##############
    3.  "RoomService" 112957.881648 ############
    4.       "VRDeck" 112772.423362 ############
    5.          "Age" 105156.567833 ###########
    6.    "FoodCourt" 95888.716028 ##########
    7.   "HomePlanet" 82220.178124 ########
    8. "ShoppingMall" 66069.907436 ######
    9.        "Group" 44918.760871 ####
   10.  "Destination" 19812.036792 #
   11.          "VIP" 3137.606830



Winner takes all: true
Out-of-bag evaluation: accuracy:0.79042 logloss:0.904423
Number of trees: 300
Total number of nodes: 216274

Number of nodes by tree:
Count: 300 Average: 720.913 StdDev: 71.7626
Min: 527 Max: 913 Ignored: 0
----------------------------------------------
[ 527, 546)  2   0.67%   0.67%
[ 546, 565)  3   1.00%   1.67% #
[ 565, 585)  2   0.67%   2.33%
[ 585, 604) 11   3.67%   6.00% ###
[ 604, 623) 16   5.33%  11.33% ####
[ 623, 643) 14   4.67%  16.00% ###
[ 643, 662) 15   5.00%  21.00% ####
[ 662, 681) 18   6.00%  27.00% ####
[ 681, 701) 32  10.67%  37.67% ########
[ 701, 720) 31  10.33%  48.00% #######
[ 720, 739) 20   6.67%  54.67% #####
[ 739, 759) 42  14.00%  68.67% ##########
[ 759, 778) 27   9.00%  77.67% ######
[ 778, 797) 23   7.67%  85.33% #####
[ 797, 817) 18   6.00%  91.33% ####
[ 817, 836) 10   3.33%  94.67% ##
[ 836, 855)  9   3.00%  97.67% ##
[ 855, 875)  6   2.00%  99.67% #
[ 875, 894)  0   0.00%  99.67%
[ 894, 913]  1   0.33% 100.00%

Depth by leafs:
Count: 108287 Average: 11.4417 StdDev: 2.871
Min: 2 Max: 15 Ignored: 0
----------------------------------------------
[  2,  3)     7   0.01%   0.01%
[  3,  4)   217   0.20%   0.21%
[  4,  5)   721   0.67%   0.87%
[  5,  6)  1891   1.75%   2.62% #
[  6,  7)  3519   3.25%   5.87% ##
[  7,  8)  5503   5.08%  10.95% ###
[  8,  9)  7515   6.94%  17.89% ####
[  9, 10)  9089   8.39%  26.28% ####
[ 10, 11) 10607   9.80%  36.08% #####
[ 11, 12) 11534  10.65%  46.73% ######
[ 12, 13) 12315  11.37%  58.10% ######
[ 13, 14) 12426  11.48%  69.58% ######
[ 14, 15) 11985  11.07%  80.65% ######
[ 15, 15] 20958  19.35% 100.00% ##########

Number of training obs by leaf:
Count: 108287 Average: 19.2599 StdDev: 40.1454
Min: 5 Max: 869 Ignored: 0
----------------------------------------------
[   5,  48) 99877  92.23%  92.23% ##########
[  48,  91)  5043   4.66%  96.89% #
[  91, 134)  1583   1.46%  98.35%
[ 134, 178)   581   0.54%  98.89%
[ 178, 221)   296   0.27%  99.16%
[ 221, 264)   181   0.17%  99.33%
[ 264, 307)   154   0.14%  99.47%
[ 307, 351)   210   0.19%  99.67%
[ 351, 394)   145   0.13%  99.80%
[ 394, 437)    60   0.06%  99.86%
[ 437, 480)    28   0.03%  99.88%
[ 480, 524)    42   0.04%  99.92%
[ 524, 567)    22   0.02%  99.94%
[ 567, 610)    22   0.02%  99.96%
[ 610, 653)     7   0.01%  99.97%
[ 653, 697)    12   0.01%  99.98%
[ 697, 740)     4   0.00%  99.98%
[ 740, 783)     8   0.01%  99.99%
[ 783, 826)     9   0.01% 100.00%
[ 826, 869]     3   0.00% 100.00%

Attribute in nodes:
	32177 : Age [NUMERICAL]
	12857 : FoodCourt [NUMERICAL]
	12432 : Spa [NUMERICAL]
	12200 : VRDeck [NUMERICAL]
	11665 : ShoppingMall [NUMERICAL]
	10453 : RoomService [NUMERICAL]
	5529 : Destination [NUMERICAL]
	4507 : Group [CATEGORICAL]
	3916 : HomePlanet [NUMERICAL]
	1332 : CryoSleep [NUMERICAL]
	919 : VIP [NUMERICAL]

Attribute in nodes with depth <= 0:
	134 : CryoSleep [NUMERICAL]
	66 : RoomService [NUMERICAL]
	53 : Spa [NUMERICAL]
	33 : VRDeck [NUMERICAL]
	9 : ShoppingMall [NUMERICAL]
	5 : FoodCourt [NUMERICAL]

Attribute in nodes with depth <= 1:
	227 : CryoSleep [NUMERICAL]
	183 : RoomService [NUMERICAL]
	146 : Spa [NUMERICAL]
	99 : FoodCourt [NUMERICAL]
	77 : VRDeck [NUMERICAL]
	67 : HomePlanet [NUMERICAL]
	38 : Group [CATEGORICAL]
	33 : ShoppingMall [NUMERICAL]
	16 : Age [NUMERICAL]
	14 : Destination [NUMERICAL]

Attribute in nodes with depth <= 2:
	382 : Spa [NUMERICAL]
	330 : RoomService [NUMERICAL]
	288 : CryoSleep [NUMERICAL]
	255 : FoodCourt [NUMERICAL]
	211 : VRDeck [NUMERICAL]
	205 : HomePlanet [NUMERICAL]
	195 : Group [CATEGORICAL]
	120 : ShoppingMall [NUMERICAL]
	69 : Age [NUMERICAL]
	38 : Destination [NUMERICAL]

Attribute in nodes with depth <= 3:
	744 : Spa [NUMERICAL]
	567 : FoodCourt [NUMERICAL]
	563 : VRDeck [NUMERICAL]
	555 : RoomService [NUMERICAL]
	485 : Group [CATEGORICAL]
	398 : HomePlanet [NUMERICAL]
	378 : CryoSleep [NUMERICAL]
	259 : ShoppingMall [NUMERICAL]
	192 : Age [NUMERICAL]
	114 : Destination [NUMERICAL]
	7 : VIP [NUMERICAL]

Attribute in nodes with depth <= 5:
	2031 : Spa [NUMERICAL]
	1854 : VRDeck [NUMERICAL]
	1786 : FoodCourt [NUMERICAL]
	1509 : Group [CATEGORICAL]
	1410 : Age [NUMERICAL]
	1322 : RoomService [NUMERICAL]
	1106 : ShoppingMall [NUMERICAL]
	1040 : HomePlanet [NUMERICAL]
	582 : CryoSleep [NUMERICAL]
	513 : Destination [NUMERICAL]
	69 : VIP [NUMERICAL]

Condition type in nodes:
	103480 : HigherCondition
	3728 : ContainsBitmapCondition
	779 : ContainsCondition
Condition type in nodes with depth <= 0:
	300 : HigherCondition
Condition type in nodes with depth <= 1:
	862 : HigherCondition
	38 : ContainsBitmapCondition
Condition type in nodes with depth <= 2:
	1898 : HigherCondition
	193 : ContainsBitmapCondition
	2 : ContainsCondition
Condition type in nodes with depth <= 3:
	3777 : HigherCondition
	470 : ContainsBitmapCondition
	15 : ContainsCondition
Condition type in nodes with depth <= 5:
	11713 : HigherCondition
	1389 : ContainsBitmapCondition
	120 : ContainsCondition
Node format: NOT_SET

Training OOB:
	trees: 1, Out-of-bag evaluation: accuracy:0.749017 logloss:9.04636
	trees: 11, Out-of-bag evaluation: accuracy:0.770812 logloss:4.2327
	trees: 21, Out-of-bag evaluation: accuracy:0.781789 logloss:2.75623
	trees: 31, Out-of-bag evaluation: accuracy:0.786105 logloss:2.20224
	trees: 41, Out-of-bag evaluation: accuracy:0.785385 logloss:1.89778
	trees: 52, Out-of-bag evaluation: accuracy:0.785385 logloss:1.76607
	trees: 62, Out-of-bag evaluation: accuracy:0.789413 logloss:1.5818
	trees: 72, Out-of-bag evaluation: accuracy:0.788119 logloss:1.46814
	trees: 83, Out-of-bag evaluation: accuracy:0.790852 logloss:1.38285
	trees: 94, Out-of-bag evaluation: accuracy:0.789125 logloss:1.32867
	trees: 104, Out-of-bag evaluation: accuracy:0.787975 logloss:1.24405
	trees: 114, Out-of-bag evaluation: accuracy:0.788694 logloss:1.20624
	trees: 124, Out-of-bag evaluation: accuracy:0.787975 logloss:1.18757
	trees: 134, Out-of-bag evaluation: accuracy:0.789845 logloss:1.17096
	trees: 144, Out-of-bag evaluation: accuracy:0.789989 logloss:1.13897
	trees: 154, Out-of-bag evaluation: accuracy:0.789125 logloss:1.10732
	trees: 164, Out-of-bag evaluation: accuracy:0.790564 logloss:1.08393
	trees: 174, Out-of-bag evaluation: accuracy:0.790132 logloss:1.06998
	trees: 184, Out-of-bag evaluation: accuracy:0.791427 logloss:1.0569
	trees: 194, Out-of-bag evaluation: accuracy:0.791283 logloss:1.02915
	trees: 204, Out-of-bag evaluation: accuracy:0.790708 logloss:1.0205
	trees: 214, Out-of-bag evaluation: accuracy:0.791715 logloss:0.993867
	trees: 224, Out-of-bag evaluation: accuracy:0.792146 logloss:0.984776
	trees: 234, Out-of-bag evaluation: accuracy:0.792865 logloss:0.97515
	trees: 244, Out-of-bag evaluation: accuracy:0.792002 logloss:0.969724
	trees: 254, Out-of-bag evaluation: accuracy:0.791715 logloss:0.941375
	trees: 264, Out-of-bag evaluation: accuracy:0.791571 logloss:0.927631
	trees: 275, Out-of-bag evaluation: accuracy:0.791427 logloss:0.918078
	trees: 285, Out-of-bag evaluation: accuracy:0.790564 logloss:0.905222
	trees: 295, Out-of-bag evaluation: accuracy:0.79042 logloss:0.904447
	trees: 300, Out-of-bag evaluation: accuracy:0.79042 logloss:0.904423

In [16]:
prediction_ds = tfdf.keras.pd_dataframe_to_tf_dataset(test)

submission_preds = model.predict(prediction_ds, verbose=2)

5/5 - 102s - 102s/epoch - 20s/step

In [17]:
submission_preds

array([[0.94333255],
       [0.01333333],
       [0.99999917],
       ...,
       [0.99666584],
       [0.66666615],
       [0.6699995 ]], dtype=float32)

In [18]:
test_ids

0       0013_01
1       0018_01
2       0019_01
3       0021_01
4       0023_01
         ...
4272    9266_02
4273    9269_01
4274    9271_01
4275    9273_01
4276    9277_01
Name: PassengerId, Length: 4277, dtype: object

In [19]:
preds = [(i > 0.5)[0] for i in submission_preds]

In [20]:
preds

[True,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 False,
 True,
 True,
 False,
 False,
 False,
 True,
 True,
 False,
 True,
 False,
 True,
 True,
 False,
 False,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 True,
 False,
 False,
 True,
 True,
 False,
 False,
 True,
 False,
 True,
 True,
 False,
 True,
 False,
 False,
 True,
 False,
 True,
 True,
 False,
 True,
 True,
 True,
 False,
 True,
 True,
 False,
 True,
 False,
 False,
 True,
 True,
 True,
 True,
 False,
 True,
 False,
 False,
 True,
 False,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 False,
 False,
 False,
 True,
 True,
 False,
 True,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 False,
 True,
 True,
 False,
 True,
 True,
 False,
 True,
 True,
 False,
 True,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 True,
 False,
 False,
 True,
 False,
 True,
 False,
 True,
 True,
 False,
 True,
 False,
 False,
 False,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 True,
 False,
 True,
 True,
 True,
 False,
 False,
 False,
 True,
 True,
 True,
 False,
 False,
 False,
 False,
 True,
 True,
 False,
 False,
 True,
 False,
 True,
 False,
 False,
 True,
 True,
 True,
 True,
 True,
 False,
 False,
 False,
 True,
 False,
 True,
 False,
 False,
 False,
 False,
 True,
 False,
 True,
 True,
 True,
 True,
 False,
 False,
 False,
 False,
 True,
 True,
 True,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 True,
 True,
 True,
 True,
 True,
 False,
 False,
 False,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 True,
 False,
 True,
 True,
 True,
 True,
 False,
 False,
 True,
 True,
 True,
 False,
 False,
 True,
 False,
 True,
 True,
 True,
 False,
 False,
 True,
 False,
 True,
 False,
 False,
 False,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 False,
 False,
 False,
 True,
 True,
 False,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 False,
 True,
 True,
 True,
 False,
 False,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 True,
 True,
 False,
 False,
 False,
 True,
 True,
 False,
 True,
 True,
 True,
 True,
 False,
 False,
 True,
 True,
 True,
 False,
 False,
 True,
 False,
 True,
 True,
 False,
 False,
 True,
 True,
 False,
 False,
 True,
 False,
 False,
 True,
 True,
 False,
 False,
 False,
 True,
 False,
 True,
 True,
 True,
 False,
 False,
 True,
 False,
 True,
 True,
 True,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 True,
 False,
 False,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 True,
 True,
 False,
 False,
 True,
 False,
 True,
 False,
 False,
 True,
 False,
 True,
 True,
 False,
 True,
 False,
 False,
 True,
 True,
 True,
 False,
 True,
 True,
 False,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 False,
 True,
 False,
 True,
 True,
 False,
 False,
 False,
 False,
 True,
 True,
 True,
 True,
 True,
 False,
 False,
 True,
 True,
 True,
 False,
 False,
 True,
 True,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 True,
 True,
 True,
 False,
 False,
 False,
 False,
 True,
 True,
 False,
 False,
 True,
 True,
 False,
 False,
 False,
 True,
 False,
 False,
 True,
 False,
 True,
 False,
 True,
 True,
 False,
 False,
 False,
 True,
 False,
 False,
 True,
 True,
 True,
 False,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 False,
 True,
 True,
 True,
 True,
 True,
 False,
 False,
 False,
 True,
 True,
 False,
 False,
 True,
 True,
 True,
 True,
 False,
 True,
 False,
 False,
 False,
 True,
 False,
 True,
 False,
 False,
 True,
 False,
 False,
 False,
 True,
 True,
 False,
 False,
 False,
 True,
 True,
 True,
 True,
 True,
 False,
 False,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 False,
 True,
 False,
 False,
 True,
 True,
 True,
 True,
 False,
 False,
 True,
 False,
 False,
 True,
 True,
 True,
 False,
 True,
 True,
 False,
 False,
 True,
 False,
 False,
 True,
 False,
 True,
 True,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 False,
 True,
 True,
 False,
 False,
 False,
 True,
 True,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 False,
 True,
 False,
 False,
 True,
 True,
 False,
 True,
 True,
 False,
 True,
 False,
 True,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 True,
 False,
 True,
 False,
 False,
 True,
 True,
 False,
 False,
 True,
 True,
 True,
 True,
 True,
 False,
 False,
 True,
 False,
 False,
 True,
 True,
 True,
 False,
 True,
 True,
 False,
 True,
 False,
 False,
 False,
 True,
 True,
 False,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 False,
 True,
 False,
 False,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 True,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 True,
 True,
 False,
 False,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 False,
 False,
 False,
 False,
 True,
 False,
 True,
 True,
 False,
 True,
 True,
 True,
 False,
 False,
 False,
 False,
 True,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 False,
 False,
 False,
 False,
 True,
 True,
 True,
 False,
 False,
 False,
 False,
 True,
 True,
 False,
 False,
 False,
 True,
 False,
 False,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 False,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 True,
 False,
 False,
 True,
 True,
 False,
 False,
 False,
 True,
 False,
 True,
 True,
 False,
 False,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 False,
 False,
 True,
 True,
 False,
 False,
 True,
 True,
 False,
 True,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 True,
 False,
 False,
 True,
 True,
 True,
 False,
 False,
 True,
 True,
 True,
 False,
 False,
 True,
 True,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 True,
 True,
 True,
 True,
 False,
 False,
 False,
 False,
 True,
 False,
 True,
 False,
 True,
 True,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 True,
 True,
 True,
 False,
 True,
 False,
 False,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 False,
 True,
 True,
 False,
 False,
 False,
 False,
 True,
 True,
 True,
 True,
 False,
 False,
 True,
 False,
 True,
 True,
 False,
 False,
 False,
 False,
 True,
 False,
 True,
 True,
 True,
 False,
 True,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 True,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 True,
 False,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 True,
 False,
 True,
 False,
 True,
 True,
 False,
 False,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 False,
 False,
 False,
 False,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 False,
 False,
 True,
 True,
 False,
 True,
 True,
 True,
 ...]

In [21]:
submission_df = pd.DataFrame({"PassengerId": test_ids, "Transported": preds})

In [22]:
submission_df.to_csv("spaceship-titanic/submission.csv", index=False)